node_modules/
dist/
.cache/
.DS_Store
.idea/
.vscode/
*.log
src/.vuepress/.temp/
src/.vuepress/.cache/
src/.vuepress/*
!src/.vuepress/components/
!src/.vuepress/theme/
src/.vuepress/theme/*
!src/.vuepress/theme/client.ts
!src/.vuepress/theme/layouts/
src/.vuepress/theme/layouts/*
!src/.vuepress/theme/layouts/Layout.vue
.vercel
.env
